@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
html{
	background-color: grey;
}
#HangmanBody{
	text-align: center;
	font-family: 'Bungee Shade', cursive;
}
#HangmanImage{
	text-align: center;
	
}
#HangmanFooter{
	text-align: center;
    font-family: 'Bungee Shade', cursive;
    
}
.HangmanText{
	font-size: 30px;
}

/* hangman MEDIA-QUERIES, mobile-first */
/* iPhone Retina */
@media only screen and (min-width: 320px) and (max-height: 430px) {
#HangmanImage{width: 200px; float: left;}
 	
}

/* EXTRA-small devices, phones */
@media only screen and (min-width: 480px) {}

/* SMALL devices, tablets */
@media only screen and (min-width: 768px) {}

/* MEDIUM devices, desktops */
@media only screen and (min-width: 992px) {}

/* LARGE devices, widescreens */
@media only screen and (min-width: 1200px) {}